*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
    background-color: blueviolet;
    color: rgb(0, 246, 37);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    text-shadow: 0 0 5px #2d0d3fa0;
}
h2{
    font-size: 2rem;
    margin-top: 20px;
}
h2:first-child{
    margin-top: 0;
}
ul {
    list-style-type: decimal;
    font-weight: 500;
    padding-left: 15px;
}
ul li {
    margin-bottom: 5px;
}
span.name{
    font-size: 1.3rem;
    font-weight: 550;
}

.image-container{
    display: flex;
    flex-direction: column;
    object-fit: contain;
    object-position: center;
    margin: 0 15px;
}

.image-container img{
    max-height: 100%;
}
a{
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid aquamarine;
    color: aquamarine;
    font-weight: 700;
    font-size: 1.2rem;
}
a::after{
    content: '';
    position: absolute;
    background-color: red;
    height: 2px;
    bottom: -2px;
    left: 0;
    width: 0;
    transition: .3s all;
}
a:hover::after{
    width: 100%;
}
h3{
    color: violet;
}